<a href="https://colab.research.google.com/github/kevingray92/ATMS-597-Project-5/blob/ReadMETAR/ReadMETAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install metpy

Requirement already satisfied: metpy in /usr/local/lib/python3.6/dist-packages (0.12.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.0.3)
Requirement already satisfied: matplotlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (3.2.1)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (4.3.3)
Requirement already satisfied: pooch>=0.1 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.0.0)
Requirement already satisfied: pint>=0.8 in /usr/local/lib/python3.6/dist-packages (from metpy) (0.11)
Requirement already satisfied: xarray>=0.10.7 in /usr/local/lib/python3.6/dist-packages (from metpy) (0.15.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->metpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->metpy) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (1.12.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (4.4.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pooch>=0.1->metpy) (20.3)
Requirement already satisfied: appdirs in /usr/local/lib/python3.6/dist-packages (from pooch>=0.1->metpy) (1.4.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pooch>=0.1->metpy) (2.21.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pint>=0.8->metpy) (46.1.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (2020.4.5.1)

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import metpy
import metpy.io

Cannot import USCOUNTIES and USSTATES without Cartopy installed.

In [3]:
###Download the METAR data
!wget ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2000/64010KMSN200001.dat

--2020-04-13 20:17:20--  ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2000/64010KMSN200001.dat
           => ‘64010KMSN200001.dat.1’
Resolving ftp.ncdc.noaa.gov (ftp.ncdc.noaa.gov)... 205.167.25.101, 2610:20:8040:2::101
Connecting to ftp.ncdc.noaa.gov (ftp.ncdc.noaa.gov)|205.167.25.101|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/data/asos-fivemin/6401-2000 ... done.
==> SIZE 64010KMSN200001.dat ... 1139705
==> PASV ... done.    ==> RETR 64010KMSN200001.dat ... done.
Length: 1139705 (1.1M) (unauthoritative)

64010KMSN200001.dat 100%[===================>]   1.09M   963KB/s    in 1.2s

2020-04-13 20:17:22 (963 KB/s) - ‘64010KMSN200001.dat.1’ saved [1139705]

In [4]:
###Read the METAR file. An error will result after the last line, but the data should be saved to the decoded_metar DataFrame.
with open('64010KMSN200001.dat','r') as metar_file:
    metar_line = metar_file.readline()
    metar_line_clean = metar_line[53:] #Get rid of first 53 characters in each line, superfluous info
    decoded_metar = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=1) #decode the METAR
    cnt = 1 #Start a counter
    while metar_line:
        metar_line = metar_file.readline()
        metar_line_clean = metar_line[53:]
        decoded_metar_line = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=1)
        decoded_metar_line.set_index(keys='date_time')
        decoded_metar = decoded_metar.append(decoded_metar_line)
        decoded_metar
        cnt = cnt+1

/usr/local/lib/python3.6/dist-packages/metpy/calc/basic.py:1011: RuntimeWarning: All-NaN slice encountered
  if np.greater(np.nanmax(np.abs(value)), max_radians):

ParseError: ignored

In [5]:
decoded_metar

     station_id  latitude  ...  eastward_wind  northward_wind
KMSN       KMSN     43.13  ...       3.420201        9.396926
KMSN       KMSN     43.13  ...       3.078181        8.457234
KMSN       KMSN     43.13  ...       3.078181        8.457234
KMSN       KMSN     43.13  ...       3.078181        8.457234
KMSN       KMSN     43.13  ...       3.078181        8.457234
...         ...       ...  ...            ...             ...
KMSN       KMSN     43.13  ...       4.330127       -2.500000
KMSN       KMSN     43.13  ...       3.830222       -3.213938
KMSN       KMSN     43.13  ...       5.196152       -3.000000
KMSN       KMSN     43.13  ...       4.596267       -3.856726
KMSN       KMSN     43.13  ...       5.362311       -4.499513

[8509 rows x 28 columns]

In [6]:
###Make date_time the index
decoded_metar = decoded_metar.set_index(keys='date_time')
decoded_metar = decoded_metar.set_index(pd.to_datetime(decoded_metar.index))
decoded_metar

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-01-01 06:00:00       KMSN     43.13  ...       3.420201        9.396926
2000-01-01 06:05:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:10:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:15:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:20:00       KMSN     43.13  ...       3.078181        8.457234
...                        ...       ...  ...            ...             ...
2000-01-01 05:35:00       KMSN     43.13  ...       4.330127       -2.500000
2000-01-01 05:40:00       KMSN     43.13  ...       3.830222       -3.213938
2000-01-01 05:45:00       KMSN     43.13  ...       5.196152       -3.000000
2000-01-01 05:50:00       KMSN     43.13  ...       4.596267       -3.856726
2000-01-01 05:55:00       KMSN     43.13  ...       5.362311       -4.499513

[8509 rows x 27 columns]